In [140]:
import pandas as pd

In [142]:
import warnings
warnings.filterwarnings("ignore")

In [144]:
Dirty_cafe_sales = pd.read_csv("C:/Users/omota/Desktop/Data Science Jobs/Datasets/dirty_cafe_sales.csv")

Dirty_cafe_sales

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [146]:
Dirty_cafe_sales.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [147]:
Dirty_cafe_sales.info()

#From the below info, it can be said that of 10000 items, "items" has 9667 non-null values meaning that about 400 values are null.
#this applies to other returned columnms

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [148]:
Dirty_cafe_sales.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15

In [149]:
Dirty_cafe_sales.isna().sum()
#this shows the amt of null values in each column

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [154]:
#This replaces all the unknown and error values with null

Dirty_cafe_sales["Transaction Date"] = Dirty_cafe_sales["Transaction Date"].replace(["UNKNOWN", "ERROR"], pd.NA)

In [155]:
Dirty_cafe_sales.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [156]:
#Now, this deletes all null entries in the dataset

Dirty_cafe_sales = Dirty_cafe_sales.dropna(subset=["Transaction Date"])

In [157]:
Dirty_cafe_sales.isna().sum()

Transaction ID         0
Item                 315
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [160]:
#sinc ethe date value in the dataset came as an object datatype, it has to be converted to datatime datatype.Thus;

Dirty_cafe_sales["Transaction Date"] = pd. to_datetime(Dirty_cafe_sales["Transaction Date"])

In [163]:
Dirty_cafe_sales.info()

#The Transaction date is now in "datatime64[ns]"

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9225 non-null   object
 2   Quantity          9405 non-null   object
 3   Price Per Unit    9375 non-null   object
 4   Total Spent       9383 non-null   object
 5   Payment Method    7101 non-null   object
 6   Location          6422 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 670.8+ KB

#### Resolving the null, error values in the Item column

In [166]:
Dirty_cafe_sales["Item"].value_counts()

Item
Juice       1124
Coffee      1123
Salad       1099
Cake        1082
Sandwich    1075
Smoothie    1048
Cookie      1035
Tea         1027
UNKNOWN      329
ERROR        283
Name: count, dtype: int64

From the info returned above, the error value is 283. 
Since item names can still be overlooked compared to the datevalues. Thus, we can just rename the error values with "unknown"

In [169]:
Dirty_cafe_sales["Item"] = Dirty_cafe_sales["Item"].replace({"ERROR":"UNKNOWN"})

In [171]:
Dirty_cafe_sales["Item"].value_counts()

Item
Juice       1124
Coffee      1123
Salad       1099
Cake        1082
Sandwich    1075
Smoothie    1048
Cookie      1035
Tea         1027
UNKNOWN      612
Name: count, dtype: int64

In [173]:
Dirty_cafe_sales.isna().sum()

#There are still item values that are null, we can replace them with "UNKNOWN" too

Transaction ID         0
Item                 315
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [175]:
Dirty_cafe_sales["Item"] = Dirty_cafe_sales["Item"].fillna("UNKNOWN")

In [177]:
Dirty_cafe_sales.isna().sum()

#From here, we can see that the null values for items is now zero i.e no null vales anymore. WE CAN PROCEED!

Transaction ID         0
Item                   0
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [179]:
Dirty_cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9405 non-null   object
 3   Price Per Unit    9375 non-null   object
 4   Total Spent       9383 non-null   object
 5   Payment Method    7101 non-null   object
 6   Location          6422 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 670.8+ KB

#### Resolving the null, error values in the Payment Method column

In [182]:
Dirty_cafe_sales["Payment Method"].value_counts()

Payment Method
Digital Wallet    2197
Credit Card       2170
Cash              2158
ERROR              296
UNKNOWN            280
Name: count, dtype: int64

In [184]:
# Replacing the "errors" with "unknown" values

Dirty_cafe_sales["Payment Method"] = Dirty_cafe_sales["Payment Method"].replace({"ERROR":"UNKNOWN"})

In [186]:
Dirty_cafe_sales["Payment Method"].value_counts()

Payment Method
Digital Wallet    2197
Credit Card       2170
Cash              2158
UNKNOWN            576
Name: count, dtype: int64

In [188]:
Dirty_cafe_sales.isna().sum()

Transaction ID         0
Item                   0
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [190]:
Dirty_cafe_sales["Payment Method"] = Dirty_cafe_sales["Payment Method"].fillna("UNKNOWN")

In [192]:
Dirty_cafe_sales.isna().sum()

Transaction ID         0
Item                   0
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method         0
Location            3118
Transaction Date       0
dtype: int64

#### Resolving the null, error values in the Location column

In [195]:
Dirty_cafe_sales["Location"].value_counts()

Location
Takeaway    2889
In-store    2872
ERROR        341
UNKNOWN      320
Name: count, dtype: int64

In [197]:
#Replacing all errors with unknown

Dirty_cafe_sales["Location"] = Dirty_cafe_sales["Location"].replace({"ERROR":"UNKNOWN"})

In [199]:
#filling all null values with unknown

Dirty_cafe_sales["Location"] = Dirty_cafe_sales["Location"].fillna("UNKNOWN")

#### Resolving the null, error values in the Numerical columns eg Quantity, Price per unit etc

In [202]:
Dirty_cafe_sales.isna().sum()

Transaction ID        0
Item                  0
Quantity            135
Price Per Unit      165
Total Spent         157
Payment Method        0
Location              0
Transaction Date      0
dtype: int64

In [204]:
Dirty_cafe_sales.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,UNKNOWN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,UNKNOWN,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,UNKNOWN,5,3.0,15.0,UNKNOWN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,UNKNOWN,In-store,2023-12-31

In [206]:
Dirty_cafe_sales["Quantity"].value_counts()

Quantity
5          1914
2          1892
4          1774
3          1766
1          1740
UNKNOWN     160
ERROR       159
Name: count, dtype: int64

In [208]:
#Since there are more than on number columns (Quantity, price per unit etc), we can replace all the errors and unknow with zero simultaneously

Dirty_cafe_sales["Quantity"] = Dirty_cafe_sales["Quantity"].replace({"ERROR":0, "UNKNOWN":0})
Dirty_cafe_sales["Price Per Unit"] = Dirty_cafe_sales["Price Per Unit"].replace({"ERROR":0, "UNKNOWN":0})
Dirty_cafe_sales["Total Spent"] = Dirty_cafe_sales["Total Spent"].replace({"ERROR":0, "UNKNOWN":0})

In [210]:
#Checking
Dirty_cafe_sales["Quantity"].value_counts()

Quantity
5    1914
2    1892
4    1774
3    1766
1    1740
0     319
Name: count, dtype: int64

In [212]:
# Recall the number values were all stored as an object. We need to convert then to numerical values. Thus:
# NB: The "error = coerce" is used to ensure that puthon does not find it hard to convert the null values into numerical values.

Dirty_cafe_sales["Quantity"] = pd.to_numeric(Dirty_cafe_sales["Quantity"], errors = "coerce")
Dirty_cafe_sales["Price Per Unit"] = pd.to_numeric(Dirty_cafe_sales["Price Per Unit"], errors = "coerce")
Dirty_cafe_sales["Total Spent"] = pd.to_numeric(Dirty_cafe_sales["Total Spent"], errors = "coerce")

In [214]:
## Checking the whole dataset now

Dirty_cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9405 non-null   float64
 3   Price Per Unit    9375 non-null   float64
 4   Total Spent       9383 non-null   float64
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 670.8+ KB

It can be seen from above that there are still null values in the numerical columns like "Total spent" etc.

In [216]:
## From my intution, I don't want to just fill my null values in the numerical columns with zeros. I feel I should fill with the mean of the column
#Recall means is calculated as "dataset_name["column_name"].mean()"

Dirty_cafe_sales["Quantity"] = Dirty_cafe_sales["Quantity"].fillna(Dirty_cafe_sales["Quantity"].mean())
Dirty_cafe_sales["Price Per Unit"] = Dirty_cafe_sales["Price Per Unit"].fillna(Dirty_cafe_sales["Price Per Unit"].mean())
Dirty_cafe_sales["Total Spent"] = Dirty_cafe_sales["Total Spent"].fillna(Dirty_cafe_sales["Total Spent"].mean())

In [218]:
# Checking for all null values
Dirty_cafe_sales.isna().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

Thus, no null value present in the dataset!

In [220]:
# Checking for duplicate values
Dirty_cafe_sales.duplicated().sum()

0

In [222]:
Dirty_cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   float64
 3   Price Per Unit    9540 non-null   float64
 4   Total Spent       9540 non-null   float64
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 670.8+ KB

Thus, the dataset is clear

In [228]:
Dirty_cafe_sales.to_csv("Cleaned_Cafe_sales", index = False)